:root{
    --color-bg: rgb(30, 30, 30);
    --color-bg-medium: rgb(30, 31, 41);
    --color-bg-light: rgb(46, 45, 61);
    --color-text: #FAFAFA;
    --color-link-hover: rgb(175, 178, 191);
    --color-stroke: rgb(77, 80, 100);
    --color-footer: #101114;
    --color-primary: rgb(108, 56, 204);
    --color-primary-hover: rgb(79, 42, 150);
    --color-secondary: rgb(228, 122, 213);

    /* --border-5: 5px; */
    --border-8: 8px;
    --border-10: 10px;

    --layout-width: 1172px;
    --gradient: linear-gradient(93.33deg, #D77BE6 9.26%, #BE63E6 42.32%, #6C38CC 104.58%);

}

*{
    box-sizing: border-box;
}


html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -text-rendering: optimizeLegibility;
}

body{
    background: var(--color-bg) ; 
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

a{
    text-decoration: none;
}